<div class="modal-body__inner">
  <span class="modal-body__close">
    <span class="icon icon-modal-close"></span>
  </span>
  
  <h2 class="modal-body__caption head_2">
    Клиент выбрал квартиру, которую необходимо просчитать?
  </h2>
  
  <div class="{{ data.widgetPrefix }}__modal-create-mortgage_actions">
    <button type="button" class="{{ data.widgetPrefix }}__button {{ data.widgetPrefix }}__modal-create-mortgage_confirm">
      <span class="{{ data.widgetPrefix }}__button-inner">
        <span class="{{ data.widgetPrefix }}__button-inner__text">
          Да
        </span>
      </span>
    </button>

    <button type="button" class="{{ data.widgetPrefix }}__button {{ data.widgetPrefix }}__modal-create-mortgage_consult">
      <span class="{{ data.widgetPrefix }}__button-inner">
        <span class="{{ data.widgetPrefix }}__button-inner__text">
          Нет, но необходима консультация
        </span>
      </span>
    </button>

    <button type="button" class="{{ data.widgetPrefix }}__button {{ data.widgetPrefix }}__modal-create-mortgage_cancel">
      <span class="{{ data.widgetPrefix }}__button-inner">
        <span class="{{ data.widgetPrefix }}__button-inner__text">
          Нет
        </span>
      </span>
    </button>
  </div>
</div>