<button type="button" class="{{ data.widgetPrefix }}__button js-{{ data.widgetPrefix }}__button {% if data.isHidden %} {{ data.widgetPrefix }}__hidden {% endif  %}">
  <span class="{{ data.widgetPrefix }}__button-inner">
    <span class="{{ data.widgetPrefix }}__button-inner__text">
      {{ data.title }}
    </span>
  </span>
</button>